/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column; /* Align heading and form vertically */
    text-align: center;
}

h1 {
    color: #004d4d;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-left: -20px; /* Adjust this value to shift the heading slightly to the left */
    text-align: left;  /* Align the text to the left */
}

/* Form Styles */
form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

label {
    font-size: 1.2rem;
    color: #007b7f;
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #007b7f;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:hover {
    border-color: #004d4d;
}


option {
    font-size: 1rem;
}

/* Button Styles */
button {
    background-color: #007b7f;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d4d;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    form {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
    }
}
